@model Adres
@{
    ViewData["Title"] = "Adres Detay";
}

<h1>Adres Detay</h1>

<form>
    <table>
        <tr>
            <td>Şehir</td>
            <td>
                <input asp-for="Sehir" />
            </td>
        </tr>
        <tr>
            <td>İlçe</td>
            <td><input asp-for="Ilce" /></td>
        </tr>
        <tr>
            <td>Açık Adres</td>
            <td><input asp-for="AcikAdres" /></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Gönder" class="btn btn-danger" />
            </td>
        </tr>
    </table>
</form>