
@{
    ViewData["Title"] = "MVC15ViewComponentUsing";
}

<h1>ViewComponent Using</h1>

<p>
    Asp.Net Mvc de herhangi bir controllera bağlı olmadan kendi kendine çalışabilen modüler yapılara viewcomponent denir
</p>

<h3>
    Kullanımı
</h3>

<p>
    Projeye ViewComponents klasörü ekleyip içerisine classımızı ekleyerek ViewComponents sınıfından alıyoruz
</p>

@await Component.InvokeAsync("Kategoriler")