
@{
    ViewData["Title"] = "MVC13AppSetting";
}

<h1>MVC13 AppSetting.json dan veri okuma</h1>

<h5>
    Email : @TempData["Email"]
</h5>

<h5>
    MailSunucu : @TempData["MailSunucu"]
</h5>
<h5>
    Kullanıcı Adı : @TempData["Username"]
</h5>
<h5>
    Şifre : @TempData["Sifre"]
</h5>