@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    MVC de yorum satırları @ * ve * @ arasına yazılabilir
*@
@{
    //Burası C# kodu yazma alanı. View sayfalarında @ işareti ile C# kodu yazmaya razor syntax ı denir
    string adi = "Alp";
    string soyAdi = "Arslan"; //C# değişkeni tanımlayabiliriz.
    string baslik = "MVC Razor Syntax";
    string[] isimler = { "Ali", "Veli", "Alp" }; //dizi tanımlayabiliriz
    
}
<h1>
    @baslik
</h1>

<h2>
    Adı : @adi
</h2>

<h3>
    Soyadı : @soyAdi
</h3>

<h4>İsimler</h4>
@foreach (var ad in isimler)
{
    @ad
    <hr/>
}


@foreach (var ad in isimler)
{
    <h5>
        @ad
    </h5>
}
@for (int i = 0; i < 5; i++)
{
    <h6>
        @i
    </h6>
}
