
@{
}
<h1>
    MVC View Results Çeşitleri
</h1>
<h4>
    Redirect Result : Sayfayı bir url adresine yönlendirmeyi sağlar
</h4>

@Html.ActionLink("Redirect Result","Yonlendir")
<a href="/MVC08ViewResults/Yonlendir?arananDeger=aspNetMvc">Query String</a>

<h4>
    Redirect To Action Result : Sayfayı bir actiona yönlendirmemizi sağlar 
</h4>
<a asp-action="ActionaYonlendir"> Redirect To Action</a>

<h4>
    Redirect To Route Result : Sayfayı bir route a yönlendirmemizi sağlar   
</h4>
<a asp-action="RouteYonlendir"> Redirect To Route</a>

<h4>
    Partial View Result : Actiona gelecek istek sonucunda geriye partial view döndürmeyi sağlar
</h4>
<a asp-action="KategorileriGetirPartial"> Partial View Result</a>

<partial name="_KategorilerPartial" />

<input type="button" value="Kategorileri Getir" class="btn btn-warning mt-2" id="btnKategorileriGetirPartial" />

<br />
<div id="Kategoriler"></div>

@section scripts{

    <script>
        function KategorileriGetir() {
            $.ajax({ // jquery nin ajax metoduyla uygulamaya istek göndereceğiz
                url: "@Url.Action("KategorileriGetirPartial","MVC08ViewResults")", // uygulamada istek göndereceğimiz adres
                type: "GET",// ajax isteğimizin türü
                dataType: "html",// verilerin kullanılacağı tip html formatında
                success: function (data) { // istek başarılı olursa
                    $("#Kategoriler").html(data) // id si Kategoriler olan dive istek sonucu gelen ve data değişkeninde tutulan veriyi yaz
                },
                error: function () {
                    alert("Hata Oluştu!")
                }
            });
        }
        $(function () {
            $("#btnKategorileriGetirPartial").click(function () { // id si btnKategorileriGetirPartial olan butona tıklandığında
                KategorileriGetir() // üstteki metodu çalıştır.
            })
        })
    </script>

}

<h4>
    XmlContent Result : Actiona gelecek istek sonucunda geriye XmlContent döndürmeyi sağlar
</h4>

<a asp-action="XmlContentResult">XmlContent Result</a>

<hr />

<h4>
    Json Result : Actiona gelecek istek sonucunda geriye Json döndürmeyi sağlar
</h4>

<a asp-action="JsonDondur">Json Result</a>